<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', 'bootstrap': 'reload' %>
  </head>

  <body>
    <div class="container">

      <%= render 'shared/blog_nav' %>


      <%= render 'shared/blog_masthead' %>

    </div>

    <!-- start of container and row elements -->
    <main role="main" class="container">
      <div class="row">
        
        
        <%= yield %>

        <!-- start of sidebar -->
        <%= render 'shared/blog_sidebar' %>

        <!-- end of sidebar -->
      </div>
    </main>

    <%= render 'shared/blog_footer' %>
    <!-- end of container and row elements -->

    <%= source_helper("blog") %>

    <%= alerts %>
  </body>
</html>
