<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">

      <%= render 'shared/blog_nav' %>

      <!-- Start of blog header -->
      
      <header class="blog-header">
        <div class="container">
          <h1 class="blog-title">My blog</h1>
          <%= link_to "Write a new blog", new_blog_path if logged_in?(:site_admin) %>
        </div>
      </header>
    </div>
    <!-- End of blog header -->

    <!-- start of container and row elements -->
    <main role="main" class="container">
      <div class="row">
        
        
        <%= yield %>

        <!-- start of sidebar -->
        <%= render 'shared/blog_sidebar' %>

        <!-- end of sidebar -->
      </div>
    </main>
    <!-- start of footer -->
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <!-- end of footer -->
    <!-- end of container and row elements -->

    <%= source_helper("blog") %>
  </body>
</html>
